.coord{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}
.wd{
    width: 18rem;
    height: 500px;
    margin: 30px; 
    border: 1px solid #39C0ED;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
.card-title{
    margin: 20px;
    text-align: center;
}
.card-text1{
    font-weight: 800;
    text-align: center;
    color: black;
}
.card-text2{
    font-weight: 400;
    text-align: center;
    color: #800000;
}
.team{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.space{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.h4{
    margin-top: 60px;
}
.awards{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tp{
    margin-top: 5%;
}

.tp1{
    margin-top: 3%;
}

.bt{
    margin-bottom: 10%;
}



.mrr{
    margin-left: 0%;
}